<h1>Create new Channel</h1>

<% form_for @channel do |f| %>
  
  <div>
    <%= f.error_messages %>
  </div>
  
  <p>
    <label>Name</label>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
  
<% end %>