<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Create Your Knowledge</title>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>

  <%= yield %>


  <%= javascript_include_tag ['jquery', 'jfeed', 'application'] %>
</body>
</html>
